body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAHLbTIhqXtIXZDmwTSTzypYzHEINpT0FbkryRd9Iod6GaLQuHdxepqE6qtI44WGyo8jRRtZ8Ve6XdWjBqaSBu3uAZ238_GXXUYzWwwmg2&s=10); background-repeat: no-repeat;
}